.root {
    -fx-font-family: "Roboto";
    -fx-font-smoothing-type: gray;
}

.jfx-tool-bar {
    -fx-font-size: 20.0;
    -fx-font-weight: BOLD;
    -fx-background-color: #2F343F;
    -fx-pref-width: 100.0%;
    -fx-pref-height: 64.0px;
}

.jfx-tool-bar HBox {
    -fx-alignment: center;
    -fx-spacing: 25.0;
    -fx-padding: 0.0 10.0;
}

.jfx-tool-bar Label {
    -fx-text-fill: WHITE;
}

.jfx-tool-bar .jfx-options-burger {
    -fx-padding: 22px;
}

.jfx-tool-bar .jfx-options-burger StackPane {
    -fx-pref-width: 4px;
}

.jfx-tool-bar .jfx-rippler {
    -jfx-rippler-fill: WHITE;
}

.option-list-view {
    -fx-pref-width: 160.0px;
    -fx-background-color: WHITE;
}

.option-jfx-list-view-icon {
    -fx-fill: #5264AE;
    -fx-padding: 0.0 10.0 0.0 5.0;
    -fx-cursor: hand;
}